.browse-the-range {
    margin-top: 50px;
}

.browse-the-range .container {
    text-align: center;
    margin: 0 auto;
}

.browse-the-range .container .block-title .title {
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.browse-the-range .container .block-title .sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    color: #616161;
}

.browse-the-range .container .block-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.browse-the-range .container .block-content div {
    margin-right: 20px;
}

.browse-the-range .container .block-content div:last-child {
    margin-right: 0;
}

.browse-the-range .container .block-content .block-content-element {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;  
}

.block-slider {
    display: none;
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .browse-the-range .container .block-content {
        display: none;
    }

    .browse-the-range .container .block-slider {
        display: block;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider {
        width: 425px;
        position: relative;
        margin: 0 auto;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide {
        position: relative;
        height: 545px;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide img {
        width: 100%;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #B88E2F;
        font-weight: 500;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 150px;
        height: 50px;
        padding-top: 10px;
    }
    
    .browse-the-range .container .block-slider .browse-the-range-slider .slick-dots {
        text-align: center;
    }
    
    .browse-the-range .container .block-slider .browse-the-range-slider .slick-dots button {
        border: 1px solid gray;
        height: 11px;
        width: 11px;
        color: white;
        background-color: gray;
        font-weight: bold;
        display: block;
        padding: 0;
        text-indent: -9999px;
        border-radius: 100%
    }
        
    .browse-the-range .container .block-slider .browse-the-range-slider .slick-dots li.slick-active button {
        border: 1px solid #B88E2F;
        height: 11px;
        width: 11px;
        color: white;
        background-color: #B88E2F;
        outline: 1px solid #B88E2F;
        outline-offset: 4px;
    }

    .browse-the-range .container .block-slider .arrows li {
        list-style: none;
        z-index: 1;
    }

    .browse-the-range .container .block-slider .arrows li.browse-the-range-left-arrow {
        position: absolute;
        top: 1175px;
        left: 140px;
    }
        
    .browse-the-range .container .block-slider .arrows li.browse-the-range-right-arrow {
        position: absolute;
        top: 1183px;
        left: 565px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 426px) {
    .browse-the-range .container .block-slider .browse-the-range-slider {
        width: calc(100% - 30px);
        height: 490px;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide p {
        bottom: 50px;
    }

    .browse-the-range .container .block-slider .arrows li.browse-the-range-left-arrow {
        left: 0;
    }
        
    .browse-the-range .container .block-slider .arrows li.browse-the-range-right-arrow {
        left: 355px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 376px) {
    .browse-the-range .container .block-slider .browse-the-range-slider {
        height: 425px;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide p {
        bottom: 114px;
    }

    .browse-the-range .container .block-slider .arrows li.browse-the-range-left-arrow {
        left: 0;
    }
        
    .browse-the-range .container .block-slider .arrows li.browse-the-range-right-arrow {
        left: 300px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 320px) {
    .browse-the-range .container .block-slider .browse-the-range-slider {
        height: 425px;
    }

    .browse-the-range .container .block-slider .browse-the-range-slider .slick-slide p {
        bottom: 114px;
    }

    .browse-the-range .container .block-slider .arrows li.browse-the-range-left-arrow {
        left: 0;
    }
        
    .browse-the-range .container .block-slider .arrows li.browse-the-range-right-arrow {
        left: 250px;
    }
}